/*Universal Styling*****************/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3 {
  font-family: 'Tinos', serif;
  text-transform: uppercase;
  color: #434031;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

/*Header Styling*****************/

header {
  background: #434031;
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin: 0 20px;
}

/*Hero-image Section Styling*****************/

.hero-image {
  background-image: url('../images/hero-image.jpeg');
  padding: 400px 0;
  background-attachment: fixed;
  background-size: cover;
}

/*About Section Styling*****************/

.about-section h1 {
  text-align: center;
  padding-top: 20px;
}

.about-section p {
  padding: 20px 0px 0px;
  line-height: 24px;
}

.about-section p:nth-child(2):first-letter {
    font-size: 23px;
    color: #434031;
    font-weight: bold;
}

.main-characters h2 {
  text-align: center;
  padding: 20px 0px 10px;
}

.sam-dean-cass {
  display: inline-block;
  width: 250px;
  text-align: center;
  padding: 0px 0px 65px;
}

.sam-dean-cass img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

/*Section-Break Styling*****************/

.section-break {
  background-image: url(../images/section-break.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding: 500px 0;
}

/*Characters Section Styling*****************/

.characters h2 {
  text-align: center;
  padding: 20px;
}

.other-characters {
  width: 250px;
  display: inline-block;
  text-align: center;
  margin: 15px 0px;
}

.other-characters img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  padding: 3px 0px 10px;
}

.other-characters:nth-child(even) {
  background: #f2f2f2;
}

/*Contact Section Styling*****************/

.contact-section {
  max-width: 500px;
  margin: 0 auto;
}

.contact-section h2 {
  text-align: center;
  padding: 30px 0px 10px;
}

.contact-section p {
  line-height: 24px;
}

/*Contact Form Styling*****************/

.contact-form {
  padding: 20px;
  max-width: 500px;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 35px auto;
}

.contact-form input {
  border: 1px solid black;
  padding: 9px 11px;
}

.contact-form div {
  margin-bottom: 10px;
}

.label_input_wrap {
  display: block;
}

.contact-form h3 {
  padding: 10px 0px;
}

.submit input {
  background: #434031;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: bold;
}

.submit input:hover {
  color: #b48e61;
}

/*Footer Styling*****************/

footer {
  background: #434031;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
